.hmex-edit {
	display: none;
}

.hmex-editmode .hmex-edit {
	display: block;
}

.hmex-reverse ul.topics { 
    display: flex;
    flex-direction: column-reverse;
}

.hmex-reverse ul.topics>li {
    flex: 0 0 auto;
}

.hmex-x {
	display: inline-block;
	background-color: #ff7171;
	border: 0px;
	font-size: 10px;
}

.hmex-v {
	background-color: lightgreen;
	border: 0px;
	font-size: 10px;
}

.hmex-edit {
	position: absolute;
	right: 5px;
}

.dir-ltr .hmex-edit {
	left: 5px;
}

.dir-rtl  .hmex-edit {
	right: 5px;
}

.hmex-hidden {
	display: none;
}

.hmex-editmode .hmex-hidden {
	display: block;
}

.hmex-v {
	display: none;
}
.hmex-hidden .hmex-v {
	display: inline-block;
}
.hmex-hidden .hmex-x {
	display: none;
}